section.about {
  display: flex;
  flex-direction: column;
  max-width: 27vw;
  align-items: center;
  .headshot {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 2rem;
    img {
      z-index: -1;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .bio {
    margin-top: 2rem;
  }
}

@media (max-width: 1000px) {
  section.about {
    max-width: 40vw;
  }
}

@media (max-width: 700px) {
  section.about {
    align-items: left;
    text-align: left;
    max-width: 80vw;
    .headshot {
      margin: 1rem;
    }
    .bio {
      margin-top: 0.5rem;
    }
  }
}
