section.top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 2rem;
}

section.foreword {
  max-width: 20vw;
  text-align: left;
}

@media (max-width: 1400px) {
  section.foreword {
    max-width: 50vw;
  }
}

@media (max-width: 700px) {
  section.foreword {
    max-width: 80vw;
  }
}
