article.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 3rem;
  text-align: left;

  // section.title {
  // background-color: lightcyan;
  // }

  section.body {
    min-height: 65vh;
    padding: 5px 25vw;
    // background-color: lightyellow;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: 0;
    article.content {
      padding: 10px;
      nav.header {
        padding: 0;
      }
      section.body {
        padding: 5px;
      }
    }
  }
}
