.projects {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  .projectCards {
    display: grid;
    padding: 5px;
    grid-template-columns: auto auto;
    gap: 1rem;
    .projectCard {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      .thumbnail {
        display: inherit;
      }
      h4 {
        position: absolute;
        transition: 0.5s ease;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
      }
    }
    &:hover h4 {
      opacity: 0.9;
    }
  }
}
